/**
 * MinecraftFive-Regular is an all-caps Minecraft font
 */
@font-face {
    font-family: 'MinecraftFive';
    src: url('./fonts/MinecraftFive.otf');
}

/**
 * Minecraft Seven is a normal Minecraft font
 */
@font-face {
    font-family: 'MinecraftSeven';
    src: url('./fonts/MinecraftSeven.otf');
}

/**
 * Minecraft Ten is an extrabold Minecraft font
 */
@font-face {
    font-family: 'MinecraftTen';
    src: url('./fonts/MinecraftTen.otf');
}

/**
 * DroidSans is a standard sans font
 */
@font-face {
    font-family: 'DroidSans';
    src: url('./fonts/DroidSans.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "MinecraftSeven";
    background-color: rgba(0, 0, 0, 0.5);
}

.settings-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    padding: 0 0 8px 0;
    color: #4c4c4c;
    background-color: #c6c6c6;
    border-image-slice: 16;
    border-image-width: 0 0 10px 0;
    border-image-source: url('./img/ui/panel.png');
    border-image-repeat: repeat;
}

.settings-title {
    font-size: 1em;
    padding: 12px 20px;
    font-family: "MinecraftSeven";
}

.settings-content {
    float: 1;
}

.button-text {
    font-size: 1em;
    padding: 12px 20px;
    font-family: "MinecraftSeven";
}

.h1 {
    font-family: "MinecraftTen";
    font-size: 2em;
    padding: 0;
    margin-top: 0.25em;
    margin-left: 0;
    margin-bottom: 0.25em;
    margin-right: 0;
}
.panel {
    margin: 10px;
    padding: 10px;
}

.panel-dialog {
    padding: 15px;
    border-image-slice: 16;
    border-image-width: 10px;
    border-image-source: url('./img/ui/panel.png');
    border-image-repeat: repeat;
}

.panel-flat {
    color: #fff;
    background-color: #5e6062;
    border: solid 3px #000;
}

.panel-inset {
    color: #fff;
    border-image-slice: 8;
    border-image-width: 10px;
    border-image-source: url('./img/ui/panel-inset.png');
    border-image-repeat: repeat;
}

.selection-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.selection-item {
    margin: 10px;
}

.container {
    background-color: blueviolet;
    width: 80%;
    height: 80%;
}

.container-spacer {
    flex: 1;
}

.button {
    display: flex;
    font-family: "MinecraftSeven";
    font-size: 1em;
    color: #4c4c4c;
    border-image-slice: 12;
    border-image-source: url('./img/ui/button.png');
}

.button:hover,
.button.focused {
    color: #ffffff;
    border-image-source: url('./img/ui/button-focused.png');
}

.button.pressed {
    color: #ffffff;
    border-image-source: url('./img/ui/button-pressed.png');
}

.button.selected {
    color: #4c4c4c;
    border-image-source: url('./img/ui/button-selected.png');
}

.button.disabled {
    color: #4c4c4c;
    border-image-source: url('./img/ui/button-disabled.png');
}

#textTest {
    width: 100px;
    height: 100px;
	font-family: 'DroidSans';
    font-size: 12px;
    overflow: scroll;
}

/*==============================//
//         Small Sizes          //
//==============================*/
body {
    font-size: 20px;
}
.container {
    padding: 10px;
}
.button {
    margin: 3px;
    padding: 14px;
    border-image-width: 6px;
}
