
.selection-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.selection-item {
    background-color: transparent;
    margin: $margin;
    border: #333333 solid 1 * $pixel-size;
}
