
@mixin ui-element($color-fg, $border-image-path, $border-image-slice) {
    color: $color-fg;
    background-color: transparent;
    border-image-slice: $border-image-slice * 4 fill;
    border-image-width: $border-image-slice * $pixel-size;
    border-image-source: url($border-image-path);
    border-image-repeat: repeat;
}
