
$pixel-size: 2px;
$font-size: $pixel-size * 10;

$padding: 5 * $pixel-size;
$margin: 4 * $pixel-size;

* {
    box-sizing: border-box;
    font-family: "MinecraftSeven";
}

@import 'fonts';
@import 'button';
@import 'panel';
@import 'input';
@import 'selection-grid';
@import 'console';
@import 'helpers';


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "MinecraftSeven";
    font-size: $font-size;
    background-color: rgba(0, 0, 0, 0.5);
    // For some reason the top of the rendered screen is cut off a little.
    // The following pushes everything down so things line up properly.
    padding-top: 1 * $pixel-size;
}
